.background_image {
    background-image: url("backgroundimg.jpg");
    width: 100%;
    height: 700px;
    padding: 0;
    margin: 0;
}

.h1_container {
    margin-top: 20%;
    padding: 0;
}

.h1_text {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.paragraph_block {
    color: white;
    text-align: center;
    font-size: 22px;
}

.paragraph_padding {
    padding-top: 8px;
}

.footer_block {
    padding-left: 27%;
}

/*.box {
    width: 126px;
    height: 83px;
    margin-left: 10%;
}*/
.email_form {
    background-color: rgba(0, 0, 0, 0.8);
    height: 55px;
    width: 40%;
    color: white;
    border-radius: 5px;
    padding-left: 21px;
    border: 1px solid grey;
}

.get_started_btn {
    padding: 6px 60px 10px 16px;
    border-radius: 5px;
    border: 1px solid red;
    margin-left: 6px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    background: rgb(229, 9, 20);
}

@media only screen and (min-width:312px) and (max-width:600px) {
    .background_image {
        background-image: url("backgroundimg.jpg");
        width: 100%;
        height: 700px;
        padding: 0;
        margin: 0;
    }

    .h1_container {
        margin-top: 20%;
        padding: 0;
    }

    .h1_text {
        color: white;
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
    }

    .paragraph_block {
        color: white;
        text-align: center;
        font-size: 22px;
    }

    .paragraph_padding {
        padding-top: 8px;
    }

    .footer_block {
        padding-left: 27%;
    }

    .email_form {
        background-color: rgba(0, 0, 0, 0.8);
        height: 55px;
        width: 40%;
        color: white;
        border-radius: 5px;
        padding-left: 21px;
        border: 1px solid grey;
    }

    .get_started_btn {
        padding: 6px 60px 10px 16px;
        border-radius: 5px;
        border: 1px solid red;
        margin-left: 6px;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        background: rgb(229, 9, 20);
    }
}