.selectoption {
    background-color: black;
    color: white;
    border: none;
  
}

.netflixlogo {
    width: 30%;
    fill: red;
}

.buttonblock {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.languageblock {
    border: 1px solid grey;
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 4px 0px;
    border-radius: 3px;
    margin: 10px 0 16px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.btnfamily {
    width: 10%;
}

.siginbtn {
    background-color: red;
    border: 1px solid red;
    height: 31px;
    border-radius: 10%;
}

.svgtag {
    width: 50%;
    padding: 10px 0px 0px 0px;
}
@media only screen and (min-width:300px) and (max-width:600px) {
    .selectoption {
        background-color: black;
        color: white;
        border: none;
        width: 100%
    }
    
    .netflixlogo {
        width: 30%;
        fill: red;
    }
    
    .buttonblock {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    
    .languageblock {
        border: 1px solid grey;
        width: 15%;
        display: flex;
        justify-content: space-between;
        padding: 4px 7px 4px 13px;
        border-radius: 3px;
        margin: 10px 0 16px 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .btnfamily {
        width: 10%;
    }
    
    .siginbtn {
        background-color: red;
        border: 1px solid red;
        height: 31px;
        border-radius: 10%;
    }
    
    .svgtag {
        width: 50%;
        padding: 10px 0px 0px 0px;
    }
}